
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySuboutputLabel">Create or edit a Suboutput</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.suboutput.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.suboutput.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="raBbvetApp.suboutput.kd_suboutput" for="field_kd_suboutput">Kd Suboutput</label>
            <input type="text" class="form-control" name="kd_suboutput" id="field_kd_suboutput"
                    ng-model="vm.suboutput.kd_suboutput"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_suboutput">Suboutput</label>
            <input type="text" class="form-control" name="suboutput" id="field_suboutput"
                    ng-model="vm.suboutput.suboutput"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="raBbvetApp.suboutput.biaya_suboutput" for="field_biaya_suboutput">Biaya Suboutput</label>
            <input type="number" class="form-control" name="biaya_suboutput" id="field_biaya_suboutput"
                    ng-model="vm.suboutput.biaya_suboutput"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="raBbvetApp.suboutput.suboutput_update" for="field_suboutput_update">Suboutput Update</label>
                <div class="input-group">
                    <input id="field_suboutput_update" type="text" class="form-control" name="suboutput_update" datetime-picker="{{dateformat}}" ng-model="vm.suboutput.suboutput_update" is-open="vm.datePickerOpenStatus.suboutput_update"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('suboutput_update')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label for="field_kdsubOutput">Kdsub Output</label>
            <select class="form-control" id="field_kdsubOutput" name="kdsubOutput" ng-model="vm.suboutput.kdsubOutput" ng-options="output as output.kd_output for output in vm.outputs track by output.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_kdsubOuputKegiatan">Kdsub Ouput Kegiatan</label>
            <select class="form-control" id="field_kdsubOuputKegiatan" name="kdsubOuputKegiatan" ng-model="vm.suboutput.kdsubOuputKegiatan" ng-options="kegiatan as kegiatan.kd_kegiatan for kegiatan in vm.kegiatans track by kegiatan.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
